*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 200px;
}
header {
    display: flex;
    background: linear-gradient(to right, black, blue);  
    align-items: right;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
footer {
    border: 5px outset red;
    background-color: black;    
    text-align: center;
    margin: 10px;
    padding: 70px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu{
    display: flex;
    background-color: black;
    background-size: cover;
}

.menu__link {
    display: flex;
    flex-direction: row;
}
.menu__link:hover {
    list-style-type: none;
    font-size: 20px;
    border: 1px solid red;
}

.link {
    display: inline-block;
    list-style-type: none;
    font-size: 20px;
}
.myDiv {
    border: 5px outset red;
    background-color: black;    
    text-align: center;
    margin: 10px;
    padding: 20px;
  }
.sithlord {
    width: 500px;   
    height: 500px;
    background-image: url('../img/SithLords.jpg');
    background-size: 30%;
}
.mydiv {
    border: 5px outset red;
    background-color: black;    
    text-align: center;
    padding: 20px;
  
  }
body .sithlord {
    width: 1200px;   
    height: 1200px;
    background-image: url('../img/SithLords.jpg');
    background-size: 30%;
}
p {
    color: yellow  ;
}

h2 {
    background-color: black;
    color: red;
}
h1 {
    background-color: black;
    background-size: cover;
    padding: 10px;
    color: yellow;  
    text-underline-position: below;
}

h3 {    
    background-color: black ;
    color: yellow;
}

a{
    color: red;
    background-color: black;
    text-decoration: none;
    margin: 7px;;
    font-size: 50px;
}

textarea {
    background-color: black;
    color: yellow;
}
label{ 
    padding: 5px;
    background-color: black;
    color: yellow;
}
ul{
    padding: 1rem;
    list-style-type: none;
}
.mando{
    width: 1200px;   
    height: 1200px;
    background-image: url('../img/Mandalorians.jpg');
    background-size: 30%;
}
.starwars{
    width: 1200px;   
    height: 1200px;
    background-image: url('../img/starwars.jpg');
    background-size: 30%;
}

.jedi {
    width: 1200px;   
    height: 1200px;
    background-image: url('../img/Jediknights.jpg');
    background-size: 30%;
}

.container {
    max-width: 1200px;
    margin: 0;
  }
 main{
    max-width: 1200px;
    margin: 0;
 }
.plantilla {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.plantilla .plantilla__img:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/1;
}
.plantilla .plantilla__img:nth-of-type(2) {
    grid-column: 3/4;
    grid-row: 1/1;
}
.plantilla .plantilla__img:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 2/2
}
.plantilla .plantilla__img:nth-of-type(4) {
    grid-column: 3/4;
    grid-row: 2/2
}
@media screen and (max-width: 480px) {
    header {
        flex-direction: row;
        gap: 1rem;
    }
    
    .plantilla {
        grid-template-rows:repeat(4, auto);
        gap: 1rem;
    }
 .plantilla .plantilla__img:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/1;
}
.plantilla .plantilla__img:nth-of-type(2) {
    grid-column: 1/2;
    grid-row: 2;
}
.plantilla .plantilla__img:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 3
}
.plantilla .plantilla__img:nth-of-type(4) {
    grid-column: 1/2;
    grid-row: 4
}
}